allpairspy==2.5.1
annotated-types==0.7.0
approval_utilities==14.0.0
approvaltests==14.0.0
distro==1.9.0
empty-files==0.0.9
iniconfig==2.0.0
jiter==0.5.0
mock==5.1.0
mrjob==0.7.4
openai==1.43.0
pluggy==1.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pyperclip==1.9.0
pytest==8.3.2
testfixtures==8.3.0
tqdm==4.66.5
